<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h2 class="text-white">Elenco Utenti</h2>
    <a routerLink="/user/new" class="btn btn-primary mb-3">
      <i class="bi bi-person-plus me-2"></i>Aggiungi Utente
    </a>
  </div>
  @if (usersPaginated.length > 0) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Email</th>
          <th>Età</th>
          <th>Ruolo</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usersPaginated; track user) {
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.role }}</td>
            <td>
              <a [routerLink]="['/users', user.id]" class="btn btn-sm btn-info me-2" ngbTooltip="Visualizza dettagli">
                <i class="bi bi-person-square"></i>
              </a>
              <a [routerLink]="['/user/edit/', user.id]" class="btn btn-sm btn-warning me-2" ngbTooltip="Modifica utente">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a (click)="deleteUser(user.id!)" class="btn btn-sm btn-danger" ngbTooltip="Elimina utente">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshUsers()"
      >
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
      <option selected [ngValue]="10">10 elementi per pagina</option>
      <option [ngValue]="15">15 elementi per pagina</option>
      <option [ngValue]="50">50 elementi per pagina</option>
    </select>
  </div>
</div>
