<div class="container mt-4">
  <h2 class="text-white">Elenco Utenti</h2>
  <a routerLink="/users/new" class="btn btn-primary mb-3">Aggiungi Utente</a>
  <table class="table table-striped" *ngIf="users.length > 0">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a [routerLink]="['/users', user.id]" class="btn btn-sm btn-info">Dettagli</a>
        <a [routerLink]="['/users/edit', user.id]" class="btn btn-sm btn-warning">Modifica</a>
        <button (click)="deleteUser(user.id!)" class="btn btn-sm btn-danger">Elimina</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
